@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

$font: "Alata", sans-serif;
$background-color: #1d2021;
$color-skill: darkkhaki;
$color-soft:#fbf1c7;
$color: #d65d0e;
$color-border: #928374;
$transition: all 0.45s ease;
